
*{
  box-sizing: border-box;
  user-select: none;
}

#mns2{
    user-select: none;
    z-index: 200;
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    align-items:center;
    position:sticky;
    top: 0px;
    cursor:auto;
    z-index: 10;
    width:100%;
    min-height:35px;
    box-sizing: 100% 100%;
    background-color: palegoldenrod;
}
#mns2 img{
  padding: 5px;
  height:90%;
  width:40px;
  cursor: pointer;
}
#mns2 img:hover{
  background-color:darkred;
}